@font-face {
    font-family: "Playfair display";
    src: url(../fonts/playfairdisplay-variablefont_wght-webfont.woff2);
  }

  body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  h1 {
    font-size: 40px;
    font-weight: bold;
    padding: 20px;
  }

  h2 {
    font-size: 25px;
    font-weight: bold;
    padding: 20px;
  }

  p {
    font-size: 20px;
  }

  a {
    font-weight: normal;
    text-decoration: none;
    color: #000000;
  }

a:hover {
    font-weight: bold;
    text-decoration: underline;
}


/************ nav top bar **************/

nav {
    background-color: #ffffff;
    padding: 25px 50px;
    position: fixed;
    top: 0;
    right: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #000000;
    font-size: 25px;
}

nav a:hover {
    font-weight: bold;
}

/************** hjem styling ***********/


.main-image {
    text-align: center;
    margin-top: 0px;
}
.main-image img {
    width: 100%;
  height: 100%;
  object-fit: cover;
}




/************** projekter styling ***********/

/************** all tekst i senter ***********/
.centered-text {
    text-align: center;
    max-width: 900px; 
    margin: 0 auto; 
    padding-top: 10px; 
    font-size: 20px;
}



/********************************************/

.centered-list {
    text-align: center;
    padding: 20px;
}
.centered-list ul {
    list-style-type: none;
    padding: 0;
}

.centered-list li {
    margin-bottom: 45px;
}

.centered-list a {
    text-decoration: none;
    color: #000000;
    font-size: 30px;
    transition: color 0.3s ease;
}
.centered-list a:hover {
    font-weight: bold;
}

/************ imgs styling **************/

.centered-images {
    text-align: center;
    margin-top: 20px;
}
.centered-images img {
    width: 900px;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.temaer {
    text-align: center;
    padding-top: 170px;
    font-size: 20px;
}

/************ video styling **************/

.html_video {
    max-width: 80%;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

.tema2-tekst {
    color: rgb(98, 71, 64);
}

.tema3-tekst {
    color: #8C8981;
}

.tema4-tekst {
    color:rgb(238, 102, 154);
}

.tema5-tekst {
    color: #DB1616
}

.tema2-page {
    background-color: #F4EDE6;
}

.tema3-page {
    background-color: #FFF4DF
}

.tema4-page {
    background-color: #FFD6E4;
}

.tema5-page {
    background-color: #F1EDD9;
}
.om_mig_page {
    font-family: 'Times New Roman', Times, serif;
}





.links2 {
    color: rgb(98, 71, 64); 
    text-decoration: none;
    font-weight: bold;
}

.links3 {
    color: #8C8981;
    text-decoration: none;
    font-weight: bold;
}

.links4 {
    color:rgb(238, 102, 154);
    text-decoration: none;
    font-weight: bold;
}

.links5 {
    color: #DB1616;
    text-decoration: none;
    font-weight: bold;
}



/************ footer styling **************/

footer {
    background-color: #ffffff; 
    color: #000000; 
    padding: 180px; 
    text-align: center; 
}

.contact-info {
    font-weight: bold;
    margin-bottom: 100px;
}

.other-things {
    font-style: italic;
    color: #000000;
}